
$white: #fff;
$main: #1C3661;
$main_oscuro: #C5956C;
$gradiante-main: linear-gradient(20deg, #C5956C 10%, #1C3661 85%);

$rojo: #D23741;
$naranja: #916fae;
$azul: #41326D;

$main-color: #916fae;
$bordeR: 12px;
$pdButton: 7px 25px;